In [35]:
#Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'
import pandas as pd

In [36]:
#set file path to a variable
input_file_path = r"C:\Users\syeda\Documents\vgsales.csv"

In [37]:
#read data into our dataframe
Df=pd.read_csv(input_file_path)
Df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [38]:
Df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [43]:
Df['Year'] = Df['Year'].apply("int64")
Df['NA_Sales'] = Df['NA_Sales'].apply("int64")
Df['EU_Sales'] = Df['EU_Sales'].apply("int64")
Df['JP_Sales'] = Df['JP_Sales'].apply("int64")
Df['Other_Sales'] = Df['Other_Sales'].apply("int64")
Df['Global_Sales'] = Df['Global_Sales'].apply("int64")

In [44]:
Df.dtypes

Rank             int64
Name            object
Platform        object
Year             int64
Genre           object
Publisher       object
NA_Sales         int64
EU_Sales         int64
JP_Sales         int64
Other_Sales      int64
Global_Sales     int64
dtype: object

In [63]:
Df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41,29,3,8,82
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29,3,6,0,40
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15,12,3,3,35
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15,11,3,2,33
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11,8,10,1,31

In [74]:
Df.loc[(Df["Year"] >= 2005), 'Description'] = "Post 2005"
Df.loc[(Df["Year"] < 2005), 'Description'] = "Pre 2005"
Df

TypeError: '>=' not supported between instances of 'str' and 'int'

In [77]:
#in SQL
Df2= pd.read_sql("Select * ,CASE WHEN Year < 2005 THEN 'Pre-2005'ELSE 'Post-2005'END AS Description From data1202.vgsales", Machine)
Df2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Description
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Post-2005
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Pre-2005
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,Post-2005
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,Post-2005
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,Pre-2005
...,...,...,...,...,...,...,...,...,...,...,...,...
16322,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,Pre-2005
16323,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,Pre-2005
16324,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01,Post-2005
16325,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,Post-2005
16326,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,Pre-2005